@use 'sass:color';

#layout-toolbar {
    background-color: $bcg-darker;
    z-index: 400; // Below PCUI Menu overlay (401) so context menus close when clicking toolbar

    > .pcui-button {
        display: block;
        border: none;
        border-radius: 0;
        margin: 0;
        width: 45px;
        height: 45px;
        flex-shrink: 0;

        &.hidden {
            display: none;
        }

        &.logo {
            background-image: url('/static/img/pixlland-logo.png');
            background-size: 30px 30px;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                background-position: center;
            }
        }

        &.icon,
        &.pc-icon {
            color: $text-dark;
            line-height: 43px;
            text-align: center;
            background-color: $bcg-primary;

            &.active {
                color: $text-primary;
                background-color: $bcg-darkest;

                &:hover,
                &:focus {
                    background-color: color.mix($bcg-dark, $bcg-darkest, 50%);
                }
            }

            &.light-mapper.active {
                background-color: $bcg-primary;
                color: $text-active;

                &:hover,
                &:focus {
                    color: $text-primary;
                    background-color: $bcg-dark;
                }
            }

            &.disabled {
                opacity: 1;
                color: color.mix($text-dark, $bcg-primary, 30%);

                &:hover,
                &:focus {
                    color: color.mix($text-dark, $bcg-primary, 30%);
                    background-color: $bcg-primary;
                }
            }

            &:hover,
            &:focus {
                color: $text-primary;
                background-color: $bcg-dark;
                box-shadow: none;
            }
        }

        &.icon {
            @extend .font-icon;

            font-size: 24px;
        }

        &.pc-icon {
            @extend .font-icon;

            font-size: 20px;
        }

        &.push-top {
            margin-top: auto;
        }

        &.bottom {
            background-color: $bcg-darker;
        }

        &.github {
            order: 1;
        }

        &.discord {
            order: 2;
        }

        &.forum {
            order: 3;
        }

        &.help-howdoi {
            order: 4;
        }

        &.help-controls {
            order: 5;
        }

        &.editor-settings {
            order: 6;
        }
    }
}

#layout-toolbar.hide-items > div {
    display: none;
}
