.pcui-code {
    background: #11141b;
    overflow: auto;

    .pcui-code-inner {
        color: #2b509b;
        font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
        font-weight: normal;
        font-size: 10px;
        white-space: pre;
    }
}
