$bcg-darkest: #0b0c0e;
$bcg-darker: #0f1114;
$bcg-dark: #15171b;
$bcg-primary: #1b1f25;
$text-darkest: #1b1f25;
$text-dark: #c2c6ce;
$text-secondary: #c2c6ce;
$text-primary: #e7eaef;
$text-active: #3f8dff;
$error: #fb222f;
$error-secondary: #d34141;
$border-primary: #0f1114;
$element-shadow-hover: 0 0 2px 1px rgb(63 141 255 / 30%);
$element-shadow-active: 0 0 0 1px rgb(63 141 255 / 30%);
$element-shadow-error: 0 0 0 1px $error-secondary;
$element-color-placeholder: #c2c6ce;
