$bcg-darkest: #0e1117;
$bcg-darker: #131722;
$bcg-dark: #171d2b;
$bcg-primary: #1c2334;
$text-darkest: #1c2334;
$text-dark: #d2d6e0;
$text-secondary: #d2d6e0;
$text-primary: #f2f5fb;
$text-active: #2b509b;
$error: #fb222f;
$error-secondary: #d34141;
$border-primary: #11141b;
$element-shadow-hover: 0 0 2px 1px rgb(43 80 155 / 30%);
$element-shadow-active: 0 0 0 1px rgb(43 80 155 / 30%);
$element-shadow-error: 0 0 0 1px $error-secondary;
$element-color-placeholder: #d2d6e0;
