$bcg-darkest: #141414;
$bcg-darker: #1b1b1b;
$bcg-dark: #242424;
$bcg-primary: #2d2d2d;
$text-darkest: #2d2d2d;
$text-dark: #c0c0c0;
$text-secondary: #c0c0c0;
$text-primary: #e6e6e6;
$text-active: #a0a0a0;
$error: #fb222f;
$error-secondary: #d34141;
$border-primary: #171717;
$element-shadow-hover: 0 0 2px 1px rgb(160 160 160 / 25%);
$element-shadow-active: 0 0 0 1px rgb(160 160 160 / 25%);
$element-shadow-error: 0 0 0 1px $error-secondary;
$element-color-placeholder: #c0c0c0;
